.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #111;
}
.Wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 30px;
    border-radius: 6px;
    border: 2px solid #444;
}

.Controls {
    display: flex;
    gap: 20px;
}

.Btn {
    border-radius: 8px;
    width: 100px;
    height: 50px;
    background-color: #e06b80;
    padding: 5px 10px;
    font-weight: 600;
    font-family: sans-serif;
    border: #cd2c58 solid 1px;
}
.Stop {
    background-color: #4f4;
    border: #6f6 solid 1px;
}

.Counter {
    font-family: sans-serif;
    font-size: 40px;
    text-align: center;
    color: #cd2c58;
}

.Header {
    font-family: sans-serif;
    font-size: 32px;
    text-align: center;
    color: #fff;
}

.SpeedControl {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #e06b80;
    font-weight: 700;
    font-size: 18px;
}

.Label {
    margin: 15px auto;
}

input {
    margin: 0 5px;
}
